.text {
color: red;
font-family: 'Mountains of Christmas', cursive;
text-align: center;
}

#second {
color: blue;
font-family: 'Mountains of Christmas', cursive;
text-align: center;
}

body {
  background-color: #F8D169;
}
